global
  stats socket /var/run/api.sock mode 660 level admin expose-fd listeners
  user haproxy 
  group haproxy   
  log stdout format raw local0 info
  tune.ssl.default-dh-param 2048

defaults
  log     global
  mode    http                  # loadbalancer also handles
  timeout check           10s   # 10 seconds max time to wait for a connection attempt to a VPS to succeed
  timeout queue           30s   # 30 seconds max queued on load balancer
  timeout client          10m   # 10 minutes max inactivity time on the client side
  timeout connect         5s    # 5 seconds max to connect or to stay in queue
  timeout server          10m   # 10 minutes max inactivity time on the server side
  timeout http-keep-alive 5s    # 5 seconds max for the client to post next request
  timeout http-request    10s   # 10 seconds max for the client to send a request
  retries                 3     # Try to connect up to 3 times in case of failure
  
  option  httplog             # Enable logging of HTTP request, session state and timers (require loglevel INFO)
  option  dontlognull         # Disable logging of null connections (don't log probe)
  option  redispatch          # Enable session redistribution in case of connection failure
  option  http-server-close   # Enable HTTP connection closing on the server side
  option  abortonclose        # Enable early dropping of aborted requests pending in queues
  option  forwardfor except 127.0.0.0/8    # Enable insertion of the X-Forwarded-For header to requests sent to servers

frontend stats
  bind *:8404
  stats enable
  stats uri /
  stats refresh 10s

## default marklogic system ports

listen qconsole
  bind :8000
  option forwardfor except 127.0.0.1
  http-request allow 
  balance roundrobin
  option httpchk
  http-check send meth GET uri / ver HTTP/1.1
  http-check expect string Healthy
  cookie SessionID  prefix nocache
  server s1 mlcup_node0.local:8000 check port 7997 cookie s1
  server s2 mlcup_node1.local:8000 check port 7997 cookie s2

listen admin
  bind :8001
  option forwardfor except 127.0.0.1
  http-request allow 
  balance roundrobin
  option httpchk
  http-check send meth GET uri / ver HTTP/1.1
  http-check expect string Healthy
  cookie SessionID prefix nocache
  server s1 mlcup_node0.local:8001 check port 7997 cookie s1
  server s2 mlcup_node1.local:8001 check port 7997 cookie s2

listen manage
  bind :8002
  option forwardfor except 127.0.0.1
  http-request allow 
  balance roundrobin
  option httpchk
  http-check send meth GET uri / ver HTTP/1.1
  http-check expect string Healthy
  cookie SessionID prefix nocache
  server s1 mlcup_node0.local:8002 check port 7997 cookie s1
  server s2 mlcup_node1.local:8002 check port 7997 cookie s2

## all marklogic application ports

listen rest_8040
  bind :8040
  option forwardfor except 127.0.0.1
  http-request allow 
  balance roundrobin
  option httpchk
  http-check send meth GET uri / ver HTTP/1.1
  http-check expect string Healthy
  cookie HostId prefix nocache
  server s1 mlcup_node0.local:8040 check port 7997 cookie s1
  server s2 mlcup_node1.local:8040 check port 7997 cookie s2

listen rest_8041
  bind :8041
  option forwardfor except 127.0.0.1
  http-request allow 
  balance roundrobin
  option httpchk
  http-check send meth GET uri / ver HTTP/1.1
  http-check expect string Healthy
  cookie SessionID prefix nocache
  server s1 mlcup_node0.local:8041 check port 7997 cookie s1
  server s2 mlcup_node1.local:8041 check port 7997 cookie s2

listen rest_8042
  bind :8042
  option forwardfor except 127.0.0.1
  http-request allow 
  balance roundrobin
  option httpchk
  http-check send meth GET uri / ver HTTP/1.1
  http-check expect string Healthy
  cookie SessionID prefix nocache
  server s1 mlcup_node0.local:8042 check port 7997 cookie s1
  server s2 mlcup_node1.local:8042 check port 7997 cookie s2

listen rest_8043
  bind :8043
  option forwardfor except 127.0.0.1
  http-request allow 
  balance roundrobin
  option httpchk
  http-check send meth GET uri / ver HTTP/1.1
  http-check expect string Healthy
  cookie SessionID prefix nocache
  server s1 mlcup_node0.local:8043 check port 7997 cookie s1
  server s2 mlcup_node1.local:8043 check port 7997 cookie s2

listen rest_8044
  bind :8044
  option forwardfor except 127.0.0.1
  http-request allow 
  balance roundrobin
  option httpchk
  http-check send meth GET uri / ver HTTP/1.1
  http-check expect string Healthy
  cookie SessionID prefix nocache
  server s1 mlcup_node0.local:8044 check port 7997 cookie s1
  server s2 mlcup_node1.local:8044 check port 7997 cookie s2

listen rest_8045
  bind :8045
  option forwardfor except 127.0.0.1
  http-request allow 
  balance roundrobin
  option httpchk
  http-check send meth GET uri / ver HTTP/1.1
  http-check expect string Healthy
  cookie SessionID prefix nocache
  server s1 mlcup_node0.local:8045 check port 7997 cookie s1
  server s2 mlcup_node1.local:8045 check port 7997 cookie s2

listen rest_8046
  bind :8046
  option forwardfor except 127.0.0.1
  http-request allow 
  balance roundrobin
  option httpchk
  http-check send meth GET uri / ver HTTP/1.1
  http-check expect string Healthy
  cookie SessionID prefix nocache
  server s1 mlcup_node0.local:8046 check port 7997 cookie s1
  server s2 mlcup_node1.local:8046 check port 7997 cookie s2

listen rest_8047
  bind :8047
  option forwardfor except 127.0.0.1
  http-request allow
  balance roundrobin
  option httpchk
  http-check send meth GET uri / ver HTTP/1.1
  http-check expect string Healthy
  cookie SessionID prefix nocache
  server s1 mlcup_node0.local:8047 check port 7997 cookie s1
  server s2 mlcup_node1.local:8047 check port 7997 cookie s2

listen rest_8048
  bind :8048
  option forwardfor except 127.0.0.1
  http-request allow
  balance roundrobin
  option httpchk
  http-check send meth GET uri / ver HTTP/1.1
  http-check expect string Healthy
  cookie SessionID insert indirect nocache maxidle 60
  server s1 mlcup_node0.local:8048 check port 7997 cookie s1
  server s2 mlcup_node1.local:8048 check port 7997 cookie s2

listen rest_8049
  bind :8049
  option forwardfor except 127.0.0.1
  http-request allow
  balance roundrobin
  option httpchk
  http-check send meth GET uri / ver HTTP/1.1
  http-check expect string Healthy
  cookie SessionID prefix nocache
  server s1 mlcup_node0.local:8049 check port 7997 cookie s1
  server s2 mlcup_node1.local:8049 check port 7997 cookie s2

listen rest_8050
  bind :8050
  option forwardfor except 127.0.0.1
  http-request allow
  balance roundrobin
  option httpchk
  http-check send meth GET uri / ver HTTP/1.1
  http-check expect string Healthy
  cookie SessionID prefix nocache
  server s1 mlcup_node0.local:8050 check port 7997 cookie s1
  server s2 mlcup_node1.local:8050 check port 7997 cookie s2
